#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html,
body {
  background-color: rgb(3, 3, 3);
}

td {
  padding: 7px;
}

table {
  background-color: pink;
  border: solid 2px purple;
}

th {
  font-size: 25px;
}

.table-header {
  font-size: 20px;
  font-weight: bold;
}

.table-row-link {
  color: rgb(38, 4, 51);
}

.table-row-link:hover {
  background-color: aqua;
  color: coral;
}

.card {
  background-color: rgb(223, 92, 114);
  border: 2px solid white;
}

button {
  background-color: aqua;
  padding: 5px;
  margin-bottom: 10px;
}
